.fileUpload {
    cursor: pointer;
    text-align: center;
    display: flex;
}

.fileUpload:hover p,
.fileUpload:hover svg,
.fileUpload img {
    opacity: 1;
}

.fileUpload p,
svg {
    opacity: 0.4;
}

.fileUpload:hover img {
    opacity: 0.3;
}

.noMouseEvent {
    pointer-events: none;
}

.iconText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.hidden {
    display: none;

}

.onDragOver img {
    opacity: 0.3;
}

.onDragOver p,
svg {
    opacity: 1;
}
