.summaryContainer {
    overflow: auto;
}

.header {
    margin: 1.5vh 0 1vh 0 !important;
}

.label {
    display: flex;
    margin-right: 2vw;
    min-width: 30%;
    max-width: 30%;
}

.value {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
